.search-form-container {
    background-color: var(--booking-yellow);
    padding: 4px;
    border-radius: 8px;
    margin-top: -30px;
    position: relative;
    z-index: 10;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.search-form {
    display: flex;
    background-color: white;
    border-radius: 4px;
}

.search-item {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-right: 2px solid var(--booking-yellow);
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.search-item i {
    color: var(--booking-gray);
    font-size: 20px;
}

.search-item input {
    border: none;
    font-size: 14px;
    width: 100%;
    outline: none;
}

.input-dates input {
    width: 120px;
}

.input-options {
    font-size: 14px;
    min-width: 250px;
}

.search-btn {
    background-color: var(--booking-light-blue);
    color: white;
    border: none;
    padding: 0 32px;
    font-size: 20px;
    font-weight: 500;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.options-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 4px;
    margin-top: 5px;
    z-index: 20;
}

.option-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.option-counter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.option-counter button {
    width: 32px;
    height: 32px;
    border: 1px solid var(--booking-light-blue);
    background: white;
    color: var(--booking-light-blue);
    border-radius: 4px;
    font-size: 18px;
}

.btn-done {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--booking-light-blue);
    background: white;
    color: var(--booking-light-blue);
    border-radius: 4px;
    margin-top: 10px;
}